.actions {
    position: relative;

    &__nav {
        text-align: center;
    }
    &__title {
        margin-bottom: 0;
    }
    &__item {
        margin-top: 200px;
    }
    @media screen and (max-width: 1199px) {
        &__item {
            margin-top: 150px;
        }
    }
    @media screen and (max-width: 991px) {
        &__item {
            margin-top: 100px;
        }
    }
    @media screen and (max-width: 767px) {
        &__item {
            margin-top: 50px;
        }
    }
    @media screen and (max-width: 575px) {
        &__item {
            margin-top: 25px;
        }
    }
}
.action {

        &:nth-child(1) {
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 1693px;
                height: 1401px;
                position: absolute;
                left: 25%;
                top: -133%;
                pointer-events: none;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='1906' height='1630' viewBox='0 0 1906 1630' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7'%3E%3Cg opacity='0.2' filter='url(%23filter0_f_1_2491)'%3E%3Cpath d='M1745.55 276L1785.86 316.305L1078.75 1023.41L585.447 1493L1038.45 983.107L1745.55 276Z' fill='url(%23paint0_linear_1_2491)'/%3E%3C/g%3E%3Cg opacity='0.32' filter='url(%23filter1_f_1_2491)'%3E%3Cpath d='M1409.55 293L1449.86 333.305L742.752 1040.41L249.447 1510L702.447 1000.11L1409.55 293Z' fill='url(%23paint1_linear_1_2491)'/%3E%3C/g%3E%3Cg opacity='0.32' filter='url(%23filter2_f_1_2491)'%3E%3Cpath d='M1280.55 120L1320.86 160.305L613.752 867.412L120.447 1337L573.447 827.107L1280.55 120Z' fill='url(%23paint2_linear_1_2491)'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_1_2491' x='465.447' y='156' width='1440.41' height='1457' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='60' result='effect1_foregroundBlur_1_2491'/%3E%3C/filter%3E%3Cfilter id='filter1_f_1_2491' x='129.447' y='173' width='1440.41' height='1457' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='60' result='effect1_foregroundBlur_1_2491'/%3E%3C/filter%3E%3Cfilter id='filter2_f_1_2491' x='0.446564' y='0' width='1440.41' height='1457' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='60' result='effect1_foregroundBlur_1_2491'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_1_2491' x1='1765.71' y1='296.153' x2='1058.6' y2='1003.26' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='%23D3D8DF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_1_2491' x1='1429.71' y1='313.153' x2='722.599' y2='1020.26' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='%23D3D8DF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_1_2491' x1='1300.71' y1='140.153' x2='593.599' y2='847.259' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='%23D3D8DF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    
            }
        }
        &:nth-child(2) {
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 1265px;
                height: 827px;
                position: absolute;
                bottom: 0;
                right: 50%;
                pointer-events: none;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(../images/dist/stars-bg.png);
                background-position: center;
                background-size: contain;
                background-position: center;
                pointer-events: none;
                z-index: -1;

            }
            &:after {
                content: "";
                display: block;
                width: 1265px;
                height: 827px;
                position: absolute;
                top: 100%;
                left: 50%;
                pointer-events: none;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(../images/dist/stars-bg.png);
                background-position: center;
                background-size: contain;
                background-position: center;
                pointer-events: none;
                z-index: -1;
            }
        }

        &:nth-child(3) {
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 2332px;
                height: 1631px;
                position: absolute;
                right: 0%;
                top: 50%;
                transform: translateY(-33%);
                pointer-events: none;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='2332' height='1631' viewBox='0 0 2332 1631' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2' filter='url(%23filter0_f_1_2495)'%3E%3Cpath d='M160.303 1354.86L119.998 1314.55L827.105 607.447L1320.41 137.858L867.41 647.752L160.303 1354.86Z' fill='url(%23paint0_linear_1_2495)'/%3E%3C/g%3E%3Cg opacity='0.32' filter='url(%23filter1_f_1_2495)'%3E%3Cpath d='M686.631 1147.53L646.326 1107.23L1240.2 513.35L1656.41 120.858L1280.51 553.656L686.631 1147.53Z' fill='url(%23paint1_linear_1_2495)'/%3E%3C/g%3E%3Cg opacity='0.32' filter='url(%23filter2_f_1_2495)'%3E%3Cpath d='M625.305 1510.86L585 1470.55L1292.11 763.447L1785.41 293.858L1332.41 803.752L625.305 1510.86Z' fill='url(%23paint2_linear_1_2495)'/%3E%3C/g%3E%3Cg opacity='0.32' filter='url(%23filter3_f_1_2495)'%3E%3Cpath d='M2171.55 201L2211.86 241.305L1775.51 677.648L1466.56 962.881L1735.21 637.343L2171.55 201Z' fill='url(%23paint3_linear_1_2495)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_1_2495' x='-0.0020752' y='17.8584' width='1440.41' height='1457' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='60' result='effect1_foregroundBlur_1_2495'/%3E%3C/filter%3E%3Cfilter id='filter1_f_1_2495' x='526.326' y='0.858459' width='1250.08' height='1266.67' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='60' result='effect1_foregroundBlur_1_2495'/%3E%3C/filter%3E%3Cfilter id='filter2_f_1_2495' x='465' y='173.858' width='1440.41' height='1457' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='60' result='effect1_foregroundBlur_1_2495'/%3E%3C/filter%3E%3Cfilter id='filter3_f_1_2495' x='1346.56' y='80.9999' width='985.293' height='1001.88' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='60' result='effect1_foregroundBlur_1_2495'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_1_2495' x1='140.15' y1='1334.71' x2='847.257' y2='627.599' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='%23D3D8DF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_1_2495' x1='666.478' y1='1127.38' x2='1260.35' y2='533.503' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23D3D8DF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_1_2495' x1='1105.86' y1='990' x2='1312.26' y2='783.599' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23D3D8DF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_1_2495' x1='2191.7' y1='221.152' x2='1413.5' y2='1069.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='%23D3D8DF' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    
            }
        }

    
    &__title {
        margin-bottom: 3rem;
    }
    &__row {
        justify-content: space-between;
    }
    &:nth-child(even) &__row {
        flex-direction: row-reverse;
    }

    @media screen and (max-width: 1199px) {
        &__title {
            margin-bottom: 2.5rem;
        }
    }
    @media screen and (max-width: 991px) {
        &__title {
            margin-bottom: 2rem;
        }
    }
    @media screen and (max-width: 767px) {
        &__title {
            margin-bottom: 1.5rem;
        }
    }
    @media screen and (max-width: 575px) {
        &__title {
            margin-bottom: 1rem;
        }
    }
}